<header class="fixed fill-navy100 w100">
    <a href="">
        <picture>
            <img class="posA" src="logo.webp" alt="Powel logo" height="50">
        </picture>
    </a>
</header>
<div class="grid sideDrawer sideDrawer--left" data-autohide="true">
    <div class="grid-cell sideDrawer-panel fill-navy5 scrollable-y">
        <div class="wrap mih100">
            <ul class="nav nav--stacked nav--block" id="internalMenu">
                <li class="is-active"><a href="home">Home</a></li>
            </ul>
        </div>
    </div>
    <div class="grid-cell sideDrawer-content">
        <div class="wrap-large">
            <div class="section">
                <h1 class="mTn" id="overview">Overview<a href="#overview" class="header-anchor"><span class="fa fa-link"></span></a></h1>
                <div class="documentation info measure">
                    <p>
                        PowelUI is a tailor-made library of powerful user interface components, behaviors and
                        utilities for the responsive and modern day web. It provides you
                        with a set of reusable building blocks that establish an extensible design system.
                        These building blocks can be assembled to form user interfaces of multiple web applications.
                    </p>
                    <p>
                        <strong>PowelUI is everything you need to get started building UI at Powel</strong>. It serves both developers and designers.
                        It enables the former to implement consistent user interfaces much faster using a range of pre-built components,
                        while the latter can quickly compose new prototypes by selecting existing materials—without getting lost in specifics.
                        It's a huge win for reduced dev and design effort.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--<div class='row'>
        <div class='col-sm-3'>
            <nav-menu></nav-menu>
        </div>
        <div class='col-sm-9 body-content'>
            <router-outlet></router-outlet>
        </div>
    </div>-->

    <router-outlet></router-outlet>
</div>
