<header class="fixed fill-navy100 w100">
    <a href="">
        <picture>
            <img class="posA" src="logo.webp" alt="Powel logo" height="50">
        </picture>
    </a>
</header>
<div class="grid sideDrawer sideDrawer--left" data-autohide="true">
    <div class="grid-cell sideDrawer-panel fill-navy5 scrollable-y">
        <!--<div class="wrap mih100">
            <ul class="nav nav--stacked nav--block" id="internalMenu">
                <li class="is-active"><a href="home">Home</a></li>
            </ul>
        </div>-->
        <nav-menu></nav-menu>
    </div>
    <div class="grid-cell sideDrawer-content">
        <div class="wrap-large">
            <router-outlet></router-outlet>
        </div>
    </div>
    

    
</div>
