<div class="section">
    <h1 class="mTn" id="overview">Powel Company Repo Pulse
    <span class="svgIcon"></span></h1>
    Now the database contains {{commitsCount}} commits
    <h2>
        Last 7 days top contributors
    </h2>
    <p *ngIf="!top7"><em>Loading...</em></p>
    <div class="grid grid--arrange grid--border" *ngIf="top7">
        <div class="grid-row navy100">
            <div class="grid-cell">Position</div>
            <div class="grid-cell">Name</div>
            <div class="grid-cell">Numbers Of Commit</div>
            <div class="grid-cell">Id</div>
        </div>

        <div class="grid-row" *ngFor="let userInfo of top7;let i = index">
            <div class="grid-cell">{{i + 1}}</div>
            <div class="grid-cell">{{userInfo.user.fullName}}</div>
            <div class="grid-cell">{{userInfo.count}}</div>
            <div class="grid-cell">{{userInfo.user.id}}</div>
        </div>
    </div>

    
    <h2>Last 30 days top contributors</h2>
    <p *ngIf="!top30"><em>Loading...</em></p>
    <div class="grid grid--arrange grid--border" *ngIf="top30">
        <div class="grid-row navy100">
            <div class="grid-cell">Position</div>
            <div class="grid-cell">Name</div>
            <div class="grid-cell">Numbers Of Commit</div>
            <div class="grid-cell">Id</div>
        </div>

        <div class="grid-row" *ngFor="let userInfo of top30;let i = index">
            <div class="grid-cell">{{i + 1}}</div>
            <div class="grid-cell">{{userInfo.user.fullName}}</div>
            <div class="grid-cell">{{userInfo.count}}</div>
            <div class="grid-cell">{{userInfo.user.id}}</div>
        </div>
    </div>    

    <h2>Top Contributors of Eternity</h2>
    <p *ngIf="!top"><em>Loading...</em></p>
    <div class="grid grid--arrange grid--border" *ngIf="top">
        <div class="grid-row navy100">
            <div class="grid-cell">Position</div>
            <div class="grid-cell">Name</div>
            <div class="grid-cell">Numbers Of Commit</div>
            <div class="grid-cell">Id</div>
        </div>

        <div class="grid-row" *ngFor="let userInfo of top;let i = index">
            <div class="grid-cell">{{i + 1}}</div>
            <div class="grid-cell">{{userInfo.user.fullName}}</div>
            <div class="grid-cell">{{userInfo.count}}</div>
            <div class="grid-cell">{{userInfo.user.id}}</div>
        </div>
    </div>    
    
</div>